<mat-list class="">
    <mat-list-item class="d-flex">Current Mark : {{ course.currentMark }} </mat-list-item>
  <mat-divider></mat-divider>
  </mat-list>

<table mat-table #table [dataSource]="course.exams">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let exam"> {{exam.name}} </td>
  </ng-container>

    <ng-container matColumnDef="mark">
      <th mat-header-cell *matHeaderCellDef> Mark</th>
      <td mat-cell *matCellDef="let exam"> {{exam.mark}} </td>
    </ng-container>

    <ng-container matColumnDef="percentage">
      <th mat-header-cell *matHeaderCellDef> Percentage </th>
      <td mat-cell *matCellDef="let exam"> {{exam.perentage}} </td>
    </ng-container>

    <ng-container matColumnDef=" ">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let exam">
        <button mat-icon-button (click)="deleteExam(exam)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

</table>
<div class="d-grid gap-2 " >
  <button class="btn btn-outline-dark" type="button" (click)="setDisplayForm()">Add Exam</button>
</div>

<app-exam-form *ngIf="displayForm"
[course] = "course"
[index] = "index"
(upDateTable) = "refreshTable()"
></app-exam-form>


